@mixin flex($aling: center, $justify: center, $direction: column, $gap: 0) {
  display: flex;
  align-items: $aling;
  justify-content: $justify;
  direction: $direction;
  gap: $gap;
}

@mixin break-media($break-point, $break) {
  @media screen and ($break-point: $break) {
    @content;
  }
}
//
@mixin shadow-neo($eje, $color, $intensity) {
  $ligth-color: mix($color, #121417bf, $intensity);
  box-shadow: $eje $eje ($eje * 2) $color,
    (-$eje) (-$eje) ($eje * 2) $ligth-color;
}
