@use "../abtract/mixins" as layout;
@use "../abtract/variables" as color_bg;
.card {
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;
  &__star {
    width: fit-content;
    margin-bottom: 2rem;
    padding: 1.15rem;
    background-color: color_bg.$dark-blue-soft;
    border-radius: 50%;
  }
  &__icon {
    width: 1.35rem;
  }
  &__wrapper {
    padding-right: 2rem;
    &--back {
      padding-right: 1.2rem;
      padding-top: 1.25rem;
    }
  }
  &__ilustatration {
    width: 10rem;
    margin-bottom: 1rem;
  }
  &__rating {
    color: color_bg.$orange;
    background-color: color_bg.$dark-blue-soft;
    padding: 0.4rem 1.5rem;
    border-radius: 0.8rem;
  }
}
