@use "../abtract/mixins" as layout;
@use "../abtract/variables" as color_bg;
.card {
  max-width: 28rem;
  min-height: 28rem;
  padding: 2rem;
  background-color: color_bg.$dark-blue;
  border-radius: 2.5rem;
  &__star {
    width: fit-content;
    margin-bottom: 2rem;
    padding: 1.15rem;
    background-color: color_bg.$dark-blue-soft;
    border-radius: 50%;
  }
  &__icon {
    width: 1.35rem;
  }
  &__wrapper {
    padding-right: 2rem;
  }
}
