@use "../abtract/mixins" as layout;
@use "../abtract/variables" as color_bg;
.card {
  &__form {
    margin-top: 1rem;
    padding-block: 1rem;
  }
  &__options {
    width: 100%;
    height: 4rem;
    margin-bottom: 1.8rem;
    @include layout.flex($justify: space-between, $direction: row);
    position: relative;
  }
  &__option {
    width: 3.5rem;
    height: 3.5rem;
    @include layout.flex($direction: row);
    background-color: color_bg.$dark-blue-soft;
    border-radius: 50%;
    font-size: 1.1em;
    position: relative;
  }
  &__check {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &__check:hover + &__option {
    background-color: mix(color_bg.$dark-blue-soft, #ffffffa5, 0.5%);
    color: color_bg.$white;
    cursor: pointer;
  }
  &__check:checked + &__option {
    background-color: color_bg.$orange;
    color: color_bg.$white;
  }
  &__button {
    width: 98%;
    margin-inline: auto;
    padding-block: 0.75rem;
    color: color_bg.$white;
    background-color: color_bg.$orange;
    border-radius: 1.5rem;
    &:hover {
      color: color_bg.$orange;
      background-color: color_bg.$white;
      cursor: pointer;
    }
  }
}
